@model LFA.EventManager.Models.Event

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedDate)
            </th>
            <th>
                Invitation To:
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedDate)
                </td>
                <td>
                    <a href="javascript:void(0)" class="btn btn-info btn-group-sm : invite-btn" rel="@item.Id" row-data="@item.Title">...</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

}

@*Modal*@

<div class="modal fade" id="invite-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dialog-title"></h4>
            </div>
            <form>

                <div class="modal-body">
                    <div class="form-group">
                        <table class="table" style="border:hidden">
                            <tr>
                                <th><input type="checkbox" /></th>
                                <th>Name</th>
                            </tr>
                            @foreach (var invitant in Model.Contacts)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox" value=@invitant.Value id="check-box" />
                                        
                                    </td>
                                    <td>
                                        @invitant.Text
                                    </td>
                                    
                                </tr>

                            }

                        </table>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                    <button type="submit" class="btn btn-primary" id="btn-Update">Invite</button>
                </div>
                <input type="hidden" name="EventId" id="event-id" />
            </form>

        </div>
    </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<script>

    $(document).ready(function () {
        $(".invite-btn").on('click', function () {
            $("#event-id").val($(this).prop('rel'));
            $("#dialog-title").html("Invititaion for " + $(this).attr('row-data'))
            $("#invite-list").modal()
        });

    });
</script>

